.titulo__categorias{
    font-family: var(--fonte-principal);
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    color: var(--verde-principal);
}

.lista__categorias{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 49px 122px 34px 120px;
}

.botao__categorias{
    text-decoration: none;
}


.titulo__campo__item__categoria{
    text-decoration: none;
    text-align: center;
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    color: var(--laranja-botoes);
}

.campo__item__categorias{
    margin: 49px 20px 34px 20px;
    padding: 45px 30px 45px 30px;

    box-sizing: border-box;

    width: 183px;
    height: 183px;
    
    border: 1px solid #E3E3E3;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);   
    border-radius: 10px;
    text-align: center;
}

.imagem__engrenagem__maior{
    padding: 10px 3px;
}

.imagem__engrenagem__menor{
    Width: 47.51px;
    Height: 47.11px;
}

.lista__unica__categoria{
    display: none;
}

@media screen and (max-width: 391px){
    .titulo__categorias{
        font-family: var(--fonte-principal);
        font-size: 20px;
        font-weight: 900;
        text-align: center;
        color: var(--verde-principal);
        margin: 30px;
    }

    .lista__categorias{
        display: none;
    }

    .lista__unica__categoria{
        display: flex;
        justify-content: center;
        list-style: none;
    }

    .botao__unica__categorias{
        text-decoration: none;
    }

    .titulo__unica__categoria{
        text-decoration: none;
        text-align: center;
        font-family: var(--fonte-principal);
        font-size: 16px;
        font-weight: 400;
        color: var(--laranja-botoes);
    }

    .campo__unica__categoria{
        box-sizing: border-box;
        padding: 20px;
        margin-bottom: 30px;

    
    
        border: 1px solid #E3E3E3;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);   
        border-radius: 10px;
        text-align: center;
    }

    

}