.vitrini{
    padding: 0px 0px 250px 0px;
    text-align: center;
}

.img__vitrini{
    width: 100%;
}

@media screen and (max-width: 391px){
    .vitrini{
        padding: 0px 83px 10px 0px;
        margin-left: -15px;
    }
    .img__vitrini{
        width: 90%;
    }
}
